.features {
    background: rgb(247, 247, 247);

    &__content {
        padding-bottom: 3.75rem;
        max-width: 75rem;
        margin: auto;

        @include breakpoint-up(medium) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-bottom: 8rem;


        }
    }

    &__head {
        padding-top: 3.75rem;
        text-align: center;

        @include breakpoint-up(medium) {
            padding-top: 7rem;
            padding-bottom: 3rem;
        }
    }

    &__card {
        padding: 2.8rem 2.5rem;
        text-align: center;

        @include breakpoint-up(medium) {
            width: 21.1375rem;
            text-align: left;
            border: 1px solid rgb(74, 100, 116);
            margin: 1rem;
            // padding: 1.2rem;
            background: $white;
            padding: 0;
        }


    }

    &__icon {
        @include breakpoint-up(medium) {
            background: rgb(74, 100, 116);
            text-align: center;
        }

        img {
            width: 4.375rem;
        }

    }

    &__text {
        @include breakpoint-up(medium) {
            padding: 1.2rem;
            // text-align: inherit;



        }

    }
}

.divider {
    &__image {
        background-image: url("/img/photos.png");
        background-size: cover;
        min-height: 11.125rem;
        background-repeat: no-repeat;
        background-position: center;

        @include breakpoint-up(medium) {
            min-height: 18.75rem;
        }

        @include breakpoint-up(medium) {
            min-height: 22.75rem;
            background-position: left center;
        }
    }
}