.gallery__head {
    text-align: center;
    padding: 2.5rem 0rem 3rem;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;


    @include breakpoint-up(large) {
        width: 60%;
        margin: 4.75rem auto 3rem;
        padding: 1rem 2rem 5rem;
        font-size: 2.6rem;
    }
}

.gallery {
    max-width: 1550px;
    margin: auto;
    padding: 0rem 2rem;

    &__content {
        padding-top: 2.5rem;
        padding-bottom: 4.75rem;
        flex-wrap: wrap;

    }

    &__photo {
        margin: 0.625rem;
        height: 25.125rem;
        // border: 1px solid $lightGray;
        box-shadow: 5px 5px 13px #b3b3b3;
        width: 20.75rem;
        // padding: 0.925rem;

        p {
            margin: 0rem;
            padding: 1rem;
        }

        img {
            width: 100%;

            object-fit: contain;
        }
    }


}

.back {
    text-align: center;
    padding-bottom: 3.75rem;


    a {
        color: $black;
        text-decoration: underline;

        @include breakpoint-up(large) {
            font-size: 1.4rem;
        }
    }
}

.footer__gallery {
    background: $darkGreen;
    color: $white;

    .footer-wrapper {
        @include breakpoint-up(medium) {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding-top: 4rem;
            padding-bottom: 2rem;
        }
    }
}