.about {
    background: #ffffff;

    &__tech {
        display: block;

        // @include breakpoint-up(large) {
        //     display: none;
        // }

    }

    &__content {
        padding-top: 3.875rem;
        padding-bottom: 3.875rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        @include breakpoint-up(medium) {
            max-width: 90rem;
            margin: auto;
            padding-top: 7rem;
            padding-bottom: 7rem;
        }

        h2 {
            margin-bottom: 3.625rem;
            text-align: center;
            color: rgb(15, 15, 15);

            @include breakpoint-up(large) {
                text-align: right;
                margin-right: 0rem;
            }

        }

        p {
            text-align: justify;

            @include breakpoint-up(large) {
                font-size: 16px;
                margin: 0.6rem 0rem;
            }

            a {
                color: $darkGreen;
                font-weight: bold;
            }
        }
    }
}