.features {

    background: rgb(241, 241, 241);


    &__content {
        padding-bottom: 3.75rem;
        max-width: 1520px;
        margin: auto;

        @include breakpoint-up(medium) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-bottom: 8rem;


        }
    }

    &__head {
        padding-top: 3.75rem;
        padding-bottom: 1.75rem;
        text-align: center;
        color: #fff;
        color: #000;

        @include breakpoint-up(medium) {
            padding-top: 7rem;
            padding-bottom: 3rem;
        }
    }

    &__card {
        padding: 2rem 2rem 2rem 1rem;
        text-align: center;
        background: rgb(255, 255, 255);
        border-radius: 10px;
        border: 1px solid #b38647;
        display: flex;
        align-items: center;
        margin: 1rem;
        box-shadow: 5px 5px 18px #888888;

        @include breakpoint-up(medium) {
            width: 670px;
            text-align: left;
            margin: 1rem;

        }


    }


    &__icon {
        margin-right: 2rem;
        // background: rgb(54, 54, 54);

    }

    &__text {
        // padding: 1rem 2rem;
        text-align: center;

        ul {
            padding: 0rem;
            list-style: none;


        }

        li {
            font-size: 0.8rem;
            line-height: 1.4;
            margin-bottom: 0.5rem;

            @include breakpoint-up(large) {
                font-size: 1.1rem;
                line-height: 1.6;
            }


        }


    }


}

.line {
    width: 50px;
    height: 1px;
    background: #b38647;
    margin: 1rem auto;
}

.divider {
    &__image {
        background-image: url("/img/photos.png");
        background-size: cover;
        min-height: 11.125rem;
        background-repeat: no-repeat;
        background-position: center;

        @include breakpoint-up(medium) {
            min-height: 18.75rem;
        }

        @include breakpoint-up(medium) {
            min-height: 22.75rem;
            background-position: left center;
        }
    }
}