.features {

    // background-image: linear-gradient(49deg, rgb(54, 54, 54), rgb(54, 54, 54), rgb(54, 54, 54), #b38647, transparent);
    background: rgb(77, 77, 77);

    &__content {
        padding-bottom: 3.75rem;
        max-width: 85rem;
        margin: auto;

        @include breakpoint-up(medium) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-bottom: 8rem;


        }
    }

    &__head {
        padding-top: 3.75rem;
        text-align: center;
        color: #fff;

        @include breakpoint-up(medium) {
            padding-top: 7rem;
            padding-bottom: 3rem;
        }
    }

    &__card {
        padding: 2rem 2rem 2rem 1rem;
        text-align: center;

        background: #fff;
        border-radius: 10px;
        display: flex;
        align-items: center;


        @include breakpoint-up(medium) {
            width: 570px;
            text-align: left;
            margin: 1rem;

        }


    }


    &__icon {
        margin-right: 2rem;

        .circle {
            background-image: linear-gradient(to bottom, #282C34, #b38647);
            width: 30px;
            height: 30px;

            border-radius: 50%;

            &:not(:last-child) {
                margin-bottom: 5rem;
            }

        }








    }

    &__text {
        // padding: 1rem 2rem;
        // text-align: justify;

        ul {
            list-style: none;
            padding-left: 1rem;
        }

        li {
            font-size: 1rem;
            line-height: 1.6;
            margin-bottom: 0.5rem;

        }


    }


}

.divider {
    &__image {
        background-image: url("/img/photos.png");
        background-size: cover;
        min-height: 11.125rem;
        background-repeat: no-repeat;
        background-position: center;

        @include breakpoint-up(medium) {
            min-height: 18.75rem;
        }

        @include breakpoint-up(medium) {
            min-height: 22.75rem;
            background-position: left center;
        }
    }
}