.map {
    @include breakpoint-up(large) {
        display: flex;
        padding-top: 7.5rem;
        padding-bottom: 6.25rem;


    }

    &__image {
        @include breakpoint-up(large) {
            min-height: 25rem;
            margin: 3rem;
            flex: 1;
            background-image: url("../img/photos.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &__text {
        padding-top: 4.5625rem;
        padding-bottom: 4.5625rem;


        li {
            font-size: 0.76rem;
        }

        @include breakpoint-up(medium) {
            flex: 1;

            li {
                font-size: 1.04rem;
                font-weight: lighter;
            }
        }
    }

    &__head {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 4rem;

        @include breakpoint-up(medium) {
            font-size: 1.5rem;

        }

        @include breakpoint-up(large) {
            margin-bottom: 4rem;
        }
    }

    &__lists {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


        ul {
            padding: 0.5rem 2rem;
        }


    }

}