.primary-btn {
    display: inline-block;
    font-size: 1rem;
    transition: all 400ms ease-in-out;
    color: #ffffff;
    font-weight: 700;
    text-decoration: underline;

    &:hover {
        color: #d3e8ff;
    }

    @include breakpoint-up(medium) {
        font-size: 1.2rem;

    }
}

.about-btn {
    display: inline-block;

    font-size: 0.9rem;
    transition: all 400ms ease-in-out;
    margin-top: 2.3rem;
    color: #ffffff;
    background: rgb(115, 116, 121);
    background: linear-gradient(107deg, rgb(45, 47, 56) 35%, rgb(36, 36, 59) 60%);
    padding: 10px 15px;

    border-radius: 10px;
    font-weight: 400;


    @include breakpoint-up(medium) {
        font-size: 1rem;
        padding: 15px 20px;
        font-weight: 700;
    }

    &:hover {
        text-decoration: underline;
    }


}

.features-btn {

    font-size: 0.9rem;
    transition: all 400ms ease-in-out;
    color: #ffffff;
    background: rgb(115, 116, 121);
    background: linear-gradient(107deg, rgb(45, 47, 56) 35%, rgb(36, 36, 59) 60%);
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: 400;

    @include breakpoint-up(medium) {
        font-size: 1rem;
        padding: 15px 20px;
        font-weight: 700;
    }

    &:hover {
        text-decoration: underline;
    }


}