.primary-btn {
    display: inline-block;

    padding: 0.5rem 1.25rem;

    border-radius: 0.625rem;
    border: 1px solid #b7c8db;
    // text-transform: uppercase;
    font-size: 1rem;
    transition: all 400ms ease-in-out;

    // background: $yellow;
    background: #d3e8ff;
    color: #1d1d1d;
    font-weight: 700;

    &:hover {
        border: 1px solid $white;
        color: $white;
        background: transparent;
    }

    @include breakpoint-up(medium) {
        font-size: 1.1rem;
        padding: 0.9rem 1.8rem;
    }
}

// .about-btn {
//     display: inline-block;

//     font-size: 1rem;
//     transition: all 400ms ease-in-out;
//     margin-top: 1.3rem;
//     color: #000000;
//     font-weight: 500;
//     text-decoration: underline;
//     font-weight: bold;

//     &:hover {
//         color: #252525;
//     }


// }