.primary-btn {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    padding: 0.5rem 1.25rem;

    border-radius: 0.625rem;
    border: 1px solid rgb(148, 85, 48);
    text-transform: uppercase;
    font-size: 1rem;
    transition: all 400ms ease-in-out;

    // background: $yellow;
    background: rgb(148, 85, 48);
    color: $white;

    &:hover {
        border: 1px solid $white;
        color: $white;
        background: transparent;
    }

    @include breakpoint-up(medium) {
        font-size: 1.1rem;
        padding: 0.9rem 1.8rem;
    }
}