:root {
  --nav-color: #fff;
  --btn-color: black;
  --btn-hover: #002535;
  --card-color: #113349;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
}
h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 3.8rem;
  letter-spacing: 0.3rem;
  font-family: "Montserrat", sans-serif;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 2.1rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav ul li a:hover {
  color: var(--nav-color);
  text-decoration: none;
}

li,
button,
input,
p {
  font-size: 2rem;
}
#showcase {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), transparent),
    url("../img/cards-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

nav {
  min-height: 10vh;
  padding: 3rem;
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 70rem;
  letter-spacing: 0.4rem;
  z-index: 2;
}
.nav-links li a {
  font-family: "Montserrat", sans-serif;
}

#logo {
  flex: 1 1 40rem;
  font-weight: 300;
  z-index: 2;
}
#logo a {
  font-size: 3.8rem;
  letter-spacing: 0.3rem;
  font-family: "Comfortaa", sans-serif;
  color: var(--nav-color);
}
nav.stroke ul li a {
  position: relative;
  padding: 1rem;
}
nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: var(--nav-color);
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}
.showcase-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10rem;
}

.showcase-content h1 {
  font-size: 4.8rem;
  text-shadow: 2px 3px #000000;
  letter-spacing: 1.5rem;
  color: white;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  line-height: 10rem;
  margin-bottom: 6rem;
}

/* SECTION ABOUT THE COMPANY */

#about {
  width: 100%;
  min-height: 70vh;
  padding: 5rem;
  margin: 3rem;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
}
.container h2 {
  font-size: 4.3rem;
  padding: 2rem;
  margin: 3rem;
  font-weight: 500;
}
.container p {
  padding: 2rem;
  margin: 3rem;
  text-align: justify;
  font-size: 1.8rem;
}
.container a {
  color: black;
  text-decoration: underline;
  letter-spacing: 0rem;
}

/* SECTION CARDS WITH ICONS AND TEXT */
.product-cards {
  min-height: 100vh;
  width: 100%;
  margin: auto;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */
}
.card-content {
  display: flex;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  width: 47%;
  margin: 1rem 1rem;
  justify-content: center;
  align-items: center;
  /* padding: 2rem; */

  -webkit-box-shadow: 8px 7px 16px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 8px 7px 16px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 8px 7px 16px 0px rgba(0, 0, 0, 0.6);
}
.head-card {
  justify-content: center;
  width: 97%;
  text-align: right;
  margin: 5rem 0rem;
  background: black;
  padding: 3rem;
  border: none;
}
.head-card h2 {
  color: white;
}

.icon {
  background: var(--card-color);
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
}
.icon i {
  color: white;
}
/* .icon {
  margin-bottom: 1rem;
  padding: 3rem;
  flex: 1 1 0rem;
  display: flex;
  justify-content: center;
} */
/* .icon img {
  width: 10rem;
  height: 9rem;
} */
.icon-text {
  text-align: justify;
  flex: 3 1 10rem;
  padding: 2em;
  margin: 2rem;
}
.icon-text ul li {
  font-size: 1.9rem;
}
.icon-text ul {
  list-style-type: disc;
}
/* SECTION-LINK TO THE GALLERY */
.slider {
  min-height: 70vh;
  width: 100%;
  margin: 4rem auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.3),
      transparent
    ),
    url("../img/photos.png");
  background-size: cover;
  background-position: center;
}
.slider-text {
  background: rgba(255, 255, 255, 1);
  width: 60%;
  text-align: center;
  padding: 4rem 6rem;
}
.slider-text:hover {
  background: rgba(255, 255, 255, 0.8);
}
.slider-text a {
  font-size: 4rem;
  font-weight: normal;
  letter-spacing: 0.5rem;
  font-family: "Montserrat", sans-serif;
}
/* SECTION WITH THE LIST OF COUNTRIES */
.map {
  min-height: 100vh;
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}
.head-map {
  text-align: center;
  margin-bottom: 10rem;
}
.map-lists {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 5rem;
}
.list {
  letter-spacing: 0.3rem;
  line-height: 4rem;
}
/* SECTION WITH THE CONTACT INFO AND CONTACT FORM */
.contact {
  min-height: 90vh;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  background: #162b43;
}

.info {
  flex: 1 1 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10rem;
  border-right: 2px solid white;
}
.info h2 {
  color: white;
  font-size: 4.3rem;
  margin: 2rem 0rem;
}
.info p {
  color: white;
  font-size: 3rem;
  font-weight: normal;
  margin-top: 2rem;
  margin-bottom: 4rem;
  line-height: 9rem;
}
.form-wrapper {
  width: 80%;
  margin: auto;
  padding: 2rem;
  flex: 1 1 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-wrapper h2 {
  margin-bottom: 3rem;
  font-weight: normal;
  color: white;
  /* text-transform: uppercase; */
}
.form-wrapper input {
  width: 100%;
  display: block;
  margin: 2rem 0rem;
  border: 1px solid #000000;
  padding: 2rem 2rem;
}
.form-wrapper textarea {
  width: 100%;
  margin-bottom: 2rem;
  border: 1px solid #000000;
  padding: 2rem;
}
.form-wrapper button {
  padding: 3rem 8rem;
  background: #64808e;
  color: white;
  border: none;
  width: 100%;
  font-size: 2.7rem;
}
.form-wrapper button:hover {
  background: black;
}
.form-wrapper form {
  width: 80%;
}
::-webkit-input-placeholder {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
::-moz-placeholder {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
:-ms-input-placeholder {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
:-moz-placeholder {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
footer {
  display: flex;
  flex-wrap: wrap;
  min-height: 20vh;
  padding: 4rem;
  background: black;
}
.left {
  flex: 1 1 0rem;
  color: white;
  line-height: 4rem;
}
.right {
  flex: 1 1 0rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: white;
}

/* BUTTONS */

.btn {
  background: var(--btn-color);
  color: white;
  padding: 2rem 5rem;
  letter-spacing: 0.4rem;
  border: none;
  box-shadow: 8px 7px 16px 0px rgba(0, 0, 0, 0.6);
}
.btn:hover {
  background: var(--btn-hover);
}
.btn-rounded {
  border-radius: 1rem;
}

/* MEDIA QUERIES SECTION */

@media screen and (max-width: 1800px) {
  .card {
    width: 45%;
  }
  .head-card {
    width: 97%;
  }
}

@media screen and (max-width: 1400px) {
  html {
    font-size: 55%;
  }
  .nav-links li a {
    letter-spacing: 0;
  }
}
@media screen and (max-width: 1064px) {
  html {
    font-size: 50%;
  }
  nav {
    width: 100%;
    padding: 1rem;
  }
  #logo {
    letter-spacing: 0.3rem;
  }

  .showcase-content {
    width: 100%;
  }
  .about {
    min-height: 80vh;
  }
  .about-gray {
    display: none;
  }
  .about {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .about-box {
    background: none;
  }
  .about-box h2 {
    color: black;
    margin: 5rem auto;
  }
  .about-company {
    margin: 2rem;
  }
  .slider {
    min-height: 50vh;
  }
  .slider-text {
    width: 100%;
    letter-spacing: 0.3rem;
  }
  .map {
    min-height: 80vh;
    background: none;
  }
  .list {
    line-height: 5rem;
  }
  .list li {
    font-size: 3rem;
  }
  .contact {
    flex-direction: column;
  }
  .info {
    padding: 4rem;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid white;
    border-right: none;
  }
  .info p {
    font-size: 2.7rem;
  }
  .form-wrapper {
    padding: 4rem 2rem;
  }
}

@media screen and (max-width: 910px) {
  nav {
    text-align: center;
  }
  #logo {
    margin-bottom: 3rem;
  }
  .gray h1 {
    letter-spacing: 0.7rem;
  }
  .card {
    width: 100%;
    margin: 2rem;
  }
  .head-card {
    width: 100%;
  }
  .icon img {
    width: 10rem;
    height: 9rem;
  }
  .map {
    padding: 8rem 1rem;
  }
  .list {
    line-height: 4rem;
    letter-spacing: 0rem;
  }
  .list li {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 634px) {
  html {
    font-size: 37%;
  }
  #logo {
    text-align: start;
    margin: 0rem 2rem;
  }
  #logo h2 {
    letter-spacing: 0.3rem;
  }

  .burger {
    position: relative;
    display: block;
    cursor: pointer;
  }
  .burger span {
    padding: 0.3rem 3rem;
    background: #162b43;
    margin: 0.6rem 2rem;
    display: block;
    transition: all 0.5s ease;
  }
  .nav-links a {
    color: white;
    font-size: 4rem;
  }
  .nav-links a:hover {
    text-decoration: underline;
    color: white;
  }
  .nav-links {
    background: #162b43;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: transform 1s ease;
  }

  .nav-open {
    transform: translateX(-100%);
  }
  .toggle {
    position: fixed;
    top: 5%;
    right: 5%;
  }
  .toggle .line1 {
    transform: rotateZ(45deg) translateY(300%);
    background: white;
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotateZ(-45deg) translateY(-300%);
    background: white;
  }

  .icon img {
    width: 10rem;
    height: 9rem;
  }

  .list {
    line-height: 3.6rem;
  }
  .list li {
    font-size: 2.3rem;
  }
  footer {
    flex-direction: column;
  }
  .right {
    margin-top: 4rem;
    letter-spacing: 0;
  }
  .form-wrapper form {
    width: 100%;
  }
}
@media screen and (max-width: 380px) {
  html {
    font-size: 36%;
  }
  .showcase-content {
    justify-content: space-around;
  }
  .gray h1 {
    letter-spacing: 0rem;
    margin-bottom: 10rem;
  }
  .gray a {
    margin-top: 5rem;
    font-size: 2.8rem;
  }
  .head-card {
    padding: 2rem 0rem;
  }
  .head-card h2 {
    font-size: 2.4rem;
  }
  .slider-text a {
    font-size: 3rem;
  }
  .head-map h2 {
    font-size: 3rem;
  }
  .form-wrapper h2 {
    letter-spacing: 0;
    font-size: 3.3rem;
  }
  .form-wrapper input {
    margin: 2rem 0rem;
  }
  .form-wrapper textarea {
    margin-bottom: 2rem;
  }
}
